
#profile{
  display: grid;
  grid-template-columns: 150px 1fr;
  text-align:center;
}
#profile_pic{
  width : 150px;
  height: 150px;
  border-radius: 70%
}

#intro{
  text-align: center;
  font-size: 30px;
}

#name{
    font-size:35px;
}

.image-like{
  width:300px;
  height:300px;

}
